<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="IExternalOperationService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ws0004601.acbaca.local/ExternalBankingService/XBService.svc/ExternalOperationService"
                binding="netTcpBinding" bindingConfiguration="IExternalOperationService"
                contract="ServiceReference1.IXBService" name="IExternalOperationService">
                <identity>
                    <userPrincipalName value="Sergey.Teleshev@acbaca.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <connectionStrings>
    <!-- DataBase Connecttion Strings !-->
    <add name="AccOperBaseConn"
      connectionString="Server=DSM1003_1;Database=AccOperBaseNew;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient"/>
    <add name="HBBaseConn"
        connectionString="Server=DSM1003_1;Database=HBBase;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>