<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITokenOperations" />
        <binding name="BasicHttpsBinding_ITokenOperations">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IPensionSystemService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ITokenOperationsCas">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ITokenOperationsCas1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="IACBAOperationService1" />
        <binding name="IClassFactory1" />
        <binding name="IInfoService1" />
        <binding name="ICustomerOperations1" />
        <binding name="ILoginOperations1" />
        <binding name="IAccountingOperations1" />
        <binding name="IDataService1" />
        <binding name="IExternalOperations1" />
        <binding name="IContractOperationService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperationService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ITokenOperations">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="MessagingService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="MessagingService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IARUSOperationService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperationService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IACBAOperationService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IClassFactory">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IInfoService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ICustomerOperations">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ILoginOperations">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IDataService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperations">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ITokenOperationsCas">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IACBAOperationService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IClassFactory2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IInfoService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ICustomerOperations2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ILoginOperations2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IDataService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperations2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IArcaDataService1">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/AcbaOperation"
        binding="netTcpBinding" bindingConfiguration="IACBAOperationService1"
        contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ClassFactory"
        binding="netTcpBinding" bindingConfiguration="IClassFactory1"
        contract="ACBAServiceReference.IClassFactory" name="IClassFactory1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/InfoService"
        binding="netTcpBinding" bindingConfiguration="IInfoService1"
        contract="ACBAServiceReference.IInfoService" name="IInfoService1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/CustomerOperations"
        binding="netTcpBinding" bindingConfiguration="ICustomerOperations1"
        contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/LoginOperations"
        binding="netTcpBinding" bindingConfiguration="ILoginOperations1"
        contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/AccountingOperations"
        binding="netTcpBinding" bindingConfiguration="IAccountingOperations1"
        contract="ACBAServiceReference.IAccountingOperations" name="IAccountingOperations1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/DataService"
        binding="netTcpBinding" bindingConfiguration="IDataService1"
        contract="ACBAServiceReference.IDataService" name="IDataService1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ExternalOperations"
        binding="netTcpBinding" bindingConfiguration="IExternalOperations1"
        contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="https://apigateservice-dev:8443/ArcaDataService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IArcaDataService1"
        contract="ArcaDataServiceReference.IArcaDataService" name="WSHttpBinding_IArcaDataService1" />
      <endpoint address="net.tcp://webc021.acbaca.local:8082/ContractOerationService.svc/ContractOperation"
        binding="netTcpBinding" bindingConfiguration="IContractOperationService"
        contract="ContractServiceRef.IContractOerationService" name="IContractOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://upayservice-dev:8080/UtilityOperationService.svc/UtilityOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService"
        contract="UtilityPaymentsServiceReference.IUtilityOperationService"
        name="IExternalOperationService">
        <identity>
          <userPrincipalName value="UtilityPayUserTest@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="https://xbsecurity-dev:4443/Services/TokenOperations.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITokenOperations"
        contract="TokenOperationsSecService.ITokenOperations" name="BasicHttpsBinding_ITokenOperations" />
      <endpoint address="https://xbsecurity-dev:4443/Services/TokenOperationsCas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITokenOperationsCas"
        contract="TokenOperationsCasServiceReference.ITokenOperationsCas"
        name="BasicHttpsBinding_ITokenOperationsCas" />
      <endpoint address="https://cbdataservice-dev:11443/PensionSystemService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IPensionSystemService"
        contract="PensionSystemRef.IPensionSystemService" name="BasicHttpsBinding_IPensionSystemService" />
      <endpoint address="net.tcp://wcf1001-t.acbaca.local:8089/SMSMessagingService/SMSMessagingService.svc/MessagingService"
        binding="netTcpBinding" bindingConfiguration="MessagingService"
        contract="SMSMessagingService.ISMSMessagingService" name="MessagingService">
        <identity>
          <userPrincipalName value="MessagingServTest@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://wcf1001-t.acbaca.local:8089/EmailMessagingService/EmailMessagingService.svc/MessagingService"
        binding="netTcpBinding" bindingConfiguration="MessagingService1"
        contract="EmailMessagingService.IEmailMessagingService" name="MessagingService1">
        <identity>
          <userPrincipalName value="MessagingServTest@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:9020/ARUSOperationService.svc/ARUSOperationService"
        binding="netTcpBinding" bindingConfiguration="IARUSOperationService"
        contract="ARUSDataService.IARUSOperationService" name="IARUSOperationService">
        <identity>
          <userPrincipalName value="stakserviceDev@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1035-d.acbaca.local:8080/UtilityOperationService.svc/UtilityOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService1"
        contract="UtilityPaymentsServiceReference.IUtilityOperationService"
        name="IExternalOperationService1">
        <identity>
          <userPrincipalName value="UtilityPayUserTest@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="http://as1001.acbaca.local:85/AcbaOnlineSecurityService.Services.TokenOperations.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenOperations"
        contract="TokenOperationsServiceReference.ITokenOperations"
        name="BasicHttpBinding_ITokenOperations" />
      <endpoint address="https://xbsecurity-dev:4443/Services/TokenOperationsCas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITokenOperationsCas1"
        contract="TokenOperationsCasServiceReference.ITokenOperationsCas"
        name="BasicHttpsBinding_ITokenOperationsCas1" />
      <endpoint address="net.tcp://as1001-d.acbaca.local:9080/Services/TokenOperationsCas.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITokenOperationsCas"
        contract="TokenOperationsCasServiceReference.ITokenOperationsCas"
        name="NetTcpBinding_ITokenOperationsCas">
        <identity>
          <userPrincipalName value="xbsecurityDev@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/AcbaOperation"
        binding="netTcpBinding" bindingConfiguration="IACBAOperationService"
        contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/ClassFactory"
        binding="netTcpBinding" bindingConfiguration="IClassFactory"
        contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/InfoService"
        binding="netTcpBinding" bindingConfiguration="IInfoService"
        contract="ACBAServiceReference.IInfoService" name="IInfoService">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/CustomerOperations"
        binding="netTcpBinding" bindingConfiguration="ICustomerOperations"
        contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/LoginOperations"
        binding="netTcpBinding" bindingConfiguration="ILoginOperations"
        contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/DataService"
        binding="netTcpBinding" bindingConfiguration="IDataService"
        contract="ACBAServiceReference.IDataService" name="IDataService">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/ExternalOperations"
        binding="netTcpBinding" bindingConfiguration="IExternalOperations"
        contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/AcbaOperation"
        binding="netTcpBinding" bindingConfiguration="IACBAOperationService2"
        contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService2">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ClassFactory"
        binding="netTcpBinding" bindingConfiguration="IClassFactory2"
        contract="ACBAServiceReference.IClassFactory" name="IClassFactory2">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/InfoService"
        binding="netTcpBinding" bindingConfiguration="IInfoService2"
        contract="ACBAServiceReference.IInfoService" name="IInfoService2">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/CustomerOperations"
        binding="netTcpBinding" bindingConfiguration="ICustomerOperations2"
        contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations2">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/LoginOperations"
        binding="netTcpBinding" bindingConfiguration="ILoginOperations2"
        contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations2">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/DataService"
        binding="netTcpBinding" bindingConfiguration="IDataService2"
        contract="ACBAServiceReference.IDataService" name="IDataService2">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ExternalOperations"
        binding="netTcpBinding" bindingConfiguration="IExternalOperations2"
        contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations2">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>