<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- DataBase Connecttion Strings !-->
    <add name="AccOperBaseConn" connectionString="Server=DSM1003_1;Database=AccOperBasenew;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="AccOperBaseConnRO" connectionString="Server=dsm1003_1;Database=AccOperBasenew;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="HBBaseConn" connectionString="Server=dsm1003_1;Database=HBBase;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SMSBaseConn" connectionString="Server=DSM1003_1;Database=SMS_Managment;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="TaxServiceConn" connectionString="Server=DSM1003_1;Database=TaxService;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="HBLoginsConn" connectionString="Server=DSTD1001;Database=HB_Logins_diana;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SynDBConn" connectionString="Server=DSM1003_1;Database=SynDB;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="UtilityPaymentsConn" connectionString="Server=DSM1003_1;Database=Utility_payments;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="DocFlowConn" connectionString="Server=DSM1003_1;Database=Docflow;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="NLogDb" connectionString="Server=DSTD1001;Database=AppLog;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SalaryBaseConn" connectionString="Server=DSM1003_1;Database=Salary;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PermissionsBaseConn" connectionString="Server=DSM1003_1;Database=Permissions_base;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PaymentsConn" connectionString="Server=DSM1003_1;Database=ePayments;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--<add name="SalaryBaseConn" connectionString="Server=tcp:DSM1003,1433;Database=Salary;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TestVersion" value="true" />
    <add key="IsCreditLineOnline" value="false" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" batch="false" optimizeCompilations="true" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:55980/ArcaDataService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IArcaDataService"
        contract="ArcaDataServiceReference.IArcaDataService" name="WSHttpBinding_IArcaDataService">
        <identity>
          <servicePrincipalName value="host/WS0008501.acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/AcbaOperation"
        binding="netTcpBinding" bindingConfiguration="IACBAOperationService"
        contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/ClassFactory"
        binding="netTcpBinding" bindingConfiguration="IClassFactory"
        contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/InfoService"
        binding="netTcpBinding" bindingConfiguration="IInfoService"
        contract="ACBAServiceReference.IInfoService" name="IInfoService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/CustomerOperations"
        binding="netTcpBinding" bindingConfiguration="ICustomerOperations"
        contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/LoginOperations"
        binding="netTcpBinding" bindingConfiguration="ILoginOperations"
        contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/AccountingOperations"
        binding="netTcpBinding" bindingConfiguration="IAccountingOperations"
        contract="ACBAServiceReference.IAccountingOperations" name="IAccountingOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/DataService"
        binding="netTcpBinding" bindingConfiguration="IDataService"
        contract="ACBAServiceReference.IDataService" name="IDataService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/OperationService.svc/ExternalOperations"
        binding="netTcpBinding" bindingConfiguration="IExternalOperations"
        contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://upayservice-dev:8080/UtilityOperationService.svc/UtilityOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService"
        contract="UtilityPaymentsServiceReference.IUtilityOperationService"
        name="IExternalOperationService">
        <identity>
          <userPrincipalName value="UtilityPayUserTest@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="http://onlinesecservice-dev:85/AcbaOnlineSecurityService.Services.AcbaOnlineLogin.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAcbaOnlineLogin"
        contract="AOService.IAcbaOnlineLogin" name="BasicHttpBinding_IAcbaOnlineLogin" />

      <endpoint address="https://authorizationservice-dev/InformationSecurityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IInfSec"
        contract="InfSecServiceReference.IInfSec" name="BasicHttpsBinding_IInfSec" />
      <endpoint address="net.tcp://web1021.acbaca.local:9020/ARUSOperationService.svc/ARUSOperationService"
                binding="netTcpBinding" bindingConfiguration="IARUSOperationService"
                contract="ARUSDataService.IARUSOperationService" name="IARUSOperationService">
        <identity>
          <userPrincipalName value="stakserviceDev@acbaca.local" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPhoneBankingSecurityService"
          maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="BasicHttpsBinding_IInfSec" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAcbaOnlineLogin" />
        <binding name="BasicHttpBinding_IInfSec" >

          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="IACBAOperationService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" />
        </binding>
        <binding name="IClassFactory" />
        <binding name="IInfoService" />
        <binding name="ICustomerOperations" />
        <binding name="ILoginOperations" />
        <binding name="IAccountingOperations" />
        <binding name="IDataService" />
        <binding name="IExternalOperations" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" />
        </binding>
        <binding name="Net.TcpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxStringContentLength="2500000"
            maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
        </binding>
        <binding name="Net.TcpBindingInfo" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxStringContentLength="2500000"
            maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
        </binding>
        <binding name="IExternalOperationService" />
        <binding name="IARUSOperationService" closeTimeout="00:10:00"
      openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
      maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxArrayLength="25000000" />
          <reliableSession inactivityTimeout="00:01:00" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IArcaDataService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.XBService">
        <endpoint address="ExternalOperationService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IExternalOperationService" contract="ExternalBankingService.Interfaces.IXBService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.XBInfoService">
        <endpoint address="ExternalOperationInfoService" binding="netTcpBinding" bindingConfiguration="Net.TcpBindingInfo" name="IExternalOperationInfoService" contract="ExternalBankingService.Interfaces.IXBInfoService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.XBManagementService">
        <endpoint address="ExternalOperationManagementService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IExternalOperationManagementService" contract="ExternalBankingService.Interfaces.IXBManagementService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.ACBAOnlineService">
        <endpoint address="ACBAOnlineService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IACBAOnlineService" contract="ExternalBankingService.Interfaces.IACBAOnlineService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.CTPaymentService">
        <endpoint address="CTPaymentService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="ICTPaymentService" contract="ExternalBankingService.Interfaces.ICTPaymentService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.SberTransfersService">
        <endpoint address="SberTransfersOperationService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="ISberTransfersService" contract="ExternalBankingService.Interfaces.ISberTransfersService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.LeasingXBService">
        <endpoint address="ExternalOperationLeasingService" binding="netTcpBinding"
          bindingConfiguration="Net.TcpBinding" name="IExternalOperationLeasingService"
          contract="ExternalBankingService.Interfaces.ILeasingXBService" />

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
      </service>
      <!--<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.LeasingXBService">
        <endpoint address="LeasingXBService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="ILeasingXBService" contract="ExternalBankingService.ILeasingXBService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="160" maxConcurrentSessions="2000" maxConcurrentInstances="2000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <clientCredentials>
            <clientCertificate findValue="477DF09F7FA1D78D5D2B73698956C648E311EA1F" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <remove scheme="net.tcp" />
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="" />
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: E79B76CF-E022-4D56-8E0D-61707A676E95-->