<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="Replace">
		<!-- DataBase Connecttion Strings test sonar and deploy!-->
		<add name="AccOperBaseConn" connectionString="Server=tcp:DSM1003R,1433;Database=AccOperBase;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="AccOperBaseConnRO" connectionString="Server=tcp:DSM1003R,1433;Database=AccOperBase;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<!--<add name="HBBaseConn" connectionString="Server=tcp:DSH1001R,1433;Database=HBBase;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" /> !-->
		<add name="HBBaseConn" connectionString="Server=tcp:DSM1003R,1433;Database=HBBase;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="SMSBaseConn" connectionString="Server=SMS1001R;Database=SMS_Managment;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="TaxServiceConn" connectionString="Server=tcp:DSM1003R,1433;Database=TaxService;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="HBLoginsConn" connectionString="Server=tcp:DSL1001R,1433;Database=HB_Logins;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="SynDBConn" connectionString="Server=tcp:DSM1003R,1433;Database=SynDB;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="UtilityPaymentsConn" connectionString="Server=tcp:DSM1003R,1433;Database=Utility_payments;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="DocFlowConn" connectionString="Server=tcp:DSM1003R,1433;Database=DocFlow;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<!--<add connectionString="Server=tcp:DSM1003R,1433;Database=DocFlow;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;ApplicationIntent=ReadOnly;" name="DocFlowConnRO" providerName="System.Data.SqlClient" />!-->
		<add connectionString="Server=tcp:DSM1003R,1433;Database=DocFlow;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;ApplicationIntent=ReadOnly;" name="DocFlowConnRO" providerName="System.Data.SqlClient" />
		<add name="NLogDb" connectionString="Server=tcp:DSL1001R,1433;Database=AppLog;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="PermissionsBaseConn" connectionString="Server=tcp:DSM1003R,1433;Database=Permissions_base;Integrated Security=true;connection timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<!--<add connectionString="Server=tcp:DSM1003R,1433;Database=SalaryR;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;ApplicationIntent=ReadOnly;" name="SalaryBaseConn" providerName="System.Data.SqlClient" />!-->
		<add connectionString="Server=tcp:DSM1003R,1433;Database=Salary;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;ApplicationIntent=ReadOnly;" name="SalaryBaseConn" providerName="System.Data.SqlClient" />
		<add name="LeasingAccOperConn" connectionString="Server=tcp:DSM1003R,1433;Database=master;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings xdt:Transform="Replace">
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="TestVersion" value="false" />
		<add key="EnabledOldMobileCompatibility" value="false" />
		<add key="EnableSecurityService" value="true" />
		<add key="CtokenURL" value="https://ctokenapi-reg:4443/api/Outgoing/" />
		<add key="UcomFixNewVersion" value="true" />
		<add key="IsCreditLineOnline" value="true" />
		<add key="c2ocMerchantId" value="340003490" />
		<add key="c2ocTerminalId" value="34543490" />
		<add key="MerchantId" value="340001528" />
		<add key="TerminalId" value="34541528" />
		<add key="LinkPaymentURL" value="https://linkpay-test.acba.am/link-payment/request?link=" />
		<add key="TransactionTypeByAMLForMobile" value="false" />
		<add key="CardDesign" value="https://mfs-reg.acba.am/Shared/" />
	</appSettings>
	<system.web xdt:Transform="Replace">
		<compilation targetFramework="4.5.1" batch="false" optimizeCompilations="true" />
		<httpRuntime targetFramework="4.5.1" />
	</system.web>
	<system.serviceModel xdt:Transform="Replace">
		<client>
			<endpoint address="https://xbsecurity-reg/Services/TokenOperations.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITokenOperations" contract="TokenOperationsSecService.ITokenOperations" name="BasicHttpsBinding_ITokenOperations" />

			<endpoint address="net.tcp://upayservice-reg:8080/UtilityOperationService.svc/UtilityOperationService" binding="netTcpBinding" bindingConfiguration="IUtiltyOperationService" contract="UtilityPaymentsServiceReference.IUtilityOperationService" name="IExternalOperationService">
				<identity>
					<userPrincipalName value="UtilityPayUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="https://apigateservice-reg:8443/ArcaDataService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IArcaDataService" contract="ArcaDataServiceReference.IArcaDataService" name="WSHttpBinding_IArcaDataService" behaviorConfiguration="NewBehavior0" />
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/AcbaOperation" binding="netTcpBinding" bindingConfiguration="IACBAOperationService" contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/ClassFactory" binding="netTcpBinding" bindingConfiguration="IClassFactory" contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
				<identity>
					<userPrincipalName value="ACBAOperationUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/InfoService" binding="netTcpBinding" bindingConfiguration="IInfoService" contract="ACBAServiceReference.IInfoService" name="IInfoService">
				<identity>
					<userPrincipalName value="ACBAOperationUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/CustomerOperations" binding="netTcpBinding" bindingConfiguration="ICustomerOperations" contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
				<identity>
					<userPrincipalName value="ACBAOperationUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/LoginOperations" binding="netTcpBinding" bindingConfiguration="ILoginOperations" contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
				<identity>
					<userPrincipalName value="ACBAOperationUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8089/SMSMessagingService/SMSMessagingService.svc/MessagingService" binding="netTcpBinding" bindingConfiguration="MessagingService" contract="SMSMessagingService.ISMSMessagingService" name="MessagingService">
				<identity>
					<userPrincipalName value="MessagingServreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/DataService" binding="netTcpBinding" bindingConfiguration="IDataService" contract="ACBAServiceReference.IDataService" name="IDataService">
				<identity>
					<userPrincipalName value="ACBAOperationUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8080/OperationService.svc/ExternalOperations" binding="netTcpBinding" bindingConfiguration="IExternalOperations" contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
				<identity>
					<userPrincipalName value="ACBAOperationUserreg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="https://AuthorizationService-reg/InformationSecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IInfSec" contract="InfSecServiceReference.IInfSec" name="BasicHttpsBinding_IInfSec" />
			<endpoint address="http://onlinesecservice-reg:85/AcbaOnlineSecurityService.Services.AcbaOnlineLogin.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAcbaOnlineLogin" contract="AOService.IAcbaOnlineLogin" name="BasicHttpBinding_IAcbaOnlineLogin" />
			<endpoint address="http://onlinesecservice-reg:85/AcbaOnlineSecurityService.Services.TokenOperations.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenOperations" contract="TokenOperationsServiceReference.ITokenOperations" name="BasicHttpBinding_ITokenOperations" />
			<endpoint address="https://xbsecurity-reg/Services/TokenOperationsCas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITokenOperationsCas" contract="TokenOperationsCasServiceReference.ITokenOperationsCas" name="BasicHttpsBinding_ITokenOperationsCas" />

			<endpoint address="net.tcp://wcf01-reg:8091/ARUSOperationService.svc/ARUSOperationService" binding="netTcpBinding" bindingConfiguration="IARUSOperationService" contract="ARUSDataService.IARUSOperationService" name="IARUSOperationService">
				<identity>
					<userPrincipalName value="stakservicereg@acbaca.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://wcf01-reg:8083/ContractOerationService.svc/ContractOperation" binding="netTcpBinding" bindingConfiguration="IContractOperationService" contract="ContractServiceRef.IContractOerationService" name="IContractOperationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://cbdataservice-reg/PensionSystemService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPensionSystemService" contract="PensionSystemRef.IPensionSystemService" name="BasicHttpBinding_IPensionSystemService" />
			<endpoint address="net.tcp://wcf01-reg:8089/EmailMessagingService/EmailMessagingService.svc/MessagingService" binding="netTcpBinding" bindingConfiguration="IEmailMessagingService" contract="EmailMessagingService.IEmailMessagingService" name="IEmailMessagingService">
				<identity>
					<userPrincipalName value="MessagingServreg@acbaca.local" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpsBinding_IInfSec" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxArrayLength="2500000" />
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_IAcbaOnlineLogin" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxArrayLength="2500000" />
				</binding>
				<binding name="BasicHttpBinding_ITokenOperations" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxArrayLength="2500000" />
				</binding>
				<binding name="BasicHttpsBinding_ITokenOperationsCas">
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_IPensionSystemService">
					<security mode="Transport" />
				</binding>

				<binding name="BasicHttpsBinding_ITokenOperations">
					<security mode="Transport" />
				</binding>

			</basicHttpBinding>
			<netTcpBinding>
				<binding name="MessagingService" />
				<binding name="IACBAOperationService" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxDepth="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" />
				</binding>
				<binding name="IClassFactory" />
				<binding name="IInfoService" />
				<binding name="ICustomerOperations" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxDepth="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" />
				</binding>
				<binding name="ILoginOperations" />
				<binding name="IDataService" />
				<binding name="IExternalOperations" />
				<binding name="Net.TcpBinding" maxBufferPoolSize="5242880" maxBufferSize="6553600" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="6553600">
					<readerQuotas maxDepth="2500000" maxStringContentLength="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
				</binding>
				<binding name="Net.TcpBindingInfo" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxDepth="2500000" maxStringContentLength="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
				</binding>
				<binding name="IUtiltyOperationService" />
				<binding name="IARUSOperationService" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
					<readerQuotas maxArrayLength="25000000" />
					<reliableSession inactivityTimeout="00:01:00" />
				</binding>
				<binding name="IContractOperationService" maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
					<readerQuotas maxArrayLength="25000000" />
					<security mode="Transport" />
				</binding>
				<binding name="NetTcpBinding_IOnlineBankingSecurity">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="IEmailMessagingService" maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
					<readerQuotas maxArrayLength="25000000" />
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IArcaDataService">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.XBService">
				<endpoint address="ExternalOperationService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IExternalOperationService" contract="ExternalBankingService.Interfaces.IXBService" />
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.XBInfoService">
				<endpoint address="ExternalOperationInfoService" binding="netTcpBinding" bindingConfiguration="Net.TcpBindingInfo" name="IExternalOperationInfoService" contract="ExternalBankingService.Interfaces.IXBInfoService" />
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.XBManagementService">
				<endpoint address="ExternalOperationManagementService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IExternalOperationManagementService" contract="ExternalBankingService.Interfaces.IXBManagementService" />
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.ACBAOnlineService">
				<endpoint address="ACBAOnlineService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IACBAOnlineService" contract="ExternalBankingService.Interfaces.IACBAOnlineService" />
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.CTPaymentService">
				<endpoint address="CTPaymentService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="ICTPaymentService" contract="ExternalBankingService.Interfaces.ICTPaymentService" />
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.LeasingXBService">
				<endpoint address="ExternalOperationLeasingService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="IExternalOperationLeasingService" contract="ExternalBankingService.Interfaces.ILeasingXBService" />

				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="WCFServiceBehavior" name="ExternalBankingService.LoanXBService">
				<endpoint address="LoanXBService" binding="netTcpBinding" bindingConfiguration="Net.TcpBinding" name="ILoanXBService" contract="ExternalBankingService.Interfaces.ILoanXBService" />
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WCFServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="160" maxConcurrentSessions="2000" maxConcurrentInstances="2000" />
					<serviceTelemetry />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="NewBehavior0">
					<clientCredentials>
						<clientCertificate findValue="a4 b5 fb 26 ce 22 8e 8e 8d 93 ea 6c 6c 13 67 a2 1e ee 5a ef" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<remove scheme="net.tcp" />
			<add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="" />
			<add scheme="https" binding="basicHttpsBinding" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<extensions>
			<behaviorExtensions>
				<add name="serviceTelemetry" type="Microsoft.ApplicationInsights.Wcf.ServiceTelemetryExtensionElement, Microsoft.AI.Wcf" />
				<add name="clientTelemetry" type="Microsoft.ApplicationInsights.Wcf.ClientTelemetryExtensionElement, Microsoft.AI.Wcf" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
	<system.webServer xdt:Transform="Replace">
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime xdt:Transform="Replace">
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
<!--ProjectGuid: E79B76CF-E022-4D56-8E0D-61707A676E95-->