<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="TestVersion" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <bindings xdt:Transform="Replace">
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPhoneBankingSecurityService"
         maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="BasicHttpsBinding_IInfSec" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600">

          <security mode="Transport" />

          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="BasicHttpBinding_IAcbaOnlineLogin"  />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="IACBAOperationService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" />
        </binding>
       
        <binding name="IClassFactory" />
        <binding name="IInfoService" />
        <binding name="ICustomerOperations" />
        <binding name="ILoginOperations" />
        <binding name="IAccountingOperations" />
        <binding name="IDataService" />
        <binding name="IExternalOperations"  maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxArrayLength="2500000" maxBytesPerRead="2500000" />
        </binding>
        <binding name="Net.TcpBinding" maxBufferPoolSize="5242880" maxBufferSize="6553600"
          maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="2500000" maxStringContentLength="2500000"
            maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IArcaDataService">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="https://apigatesrv:8443/ArcaDataService.svc" binding="wsHttpBinding"
           bindingConfiguration="WSHttpBinding_IArcaDataService" contract="ArcaDataServiceReference.IArcaDataService"
           name="WSHttpBinding_IArcaDataService" behaviorConfiguration="NewBehavior0"/>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/AcbaOperation"
                binding="netTcpBinding" bindingConfiguration="IACBAOperationService"
                contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ClassFactory"
          binding="netTcpBinding" bindingConfiguration="IClassFactory"
          contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/InfoService"
          binding="netTcpBinding" bindingConfiguration="IInfoService"
          contract="ACBAServiceReference.IInfoService" name="IInfoService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/CustomerOperations"
          binding="netTcpBinding" bindingConfiguration="ICustomerOperations"
          contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/LoginOperations"
          binding="netTcpBinding" bindingConfiguration="ILoginOperations"
          contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/AccountingOperations"
          binding="netTcpBinding" bindingConfiguration="IAccountingOperations"
          contract="ACBAServiceReference.IAccountingOperations" name="IAccountingOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/DataService"
          binding="netTcpBinding" bindingConfiguration="IDataService"
          contract="ACBAServiceReference.IDataService" name="IDataService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ExternalOperations"
         binding="netTcpBinding" bindingConfiguration="IExternalOperations"
         contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="http://webtest:86/PhoneBankingSecurityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhoneBankingSecurityService"
        contract="PBAService.IPhoneBankingSecurityService" name="BasicHttpBinding_IPhoneBankingSecurityService" />
      <endpoint address="https://webtest/InformationSecurityService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IInfSec"
               contract="InfSecServiceReference.IInfSec" name="BasicHttpsBinding_IInfSec" />
      <endpoint address="http://webtest:85/AcbaOnlineSecurityService.AcbaOnlineLogin.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAcbaOnlineLogin"
       contract="AOService.IAcbaOnlineLogin" name="BasicHttpBinding_IAcbaOnlineLogin" />
    </client>
  </system.serviceModel>
</configuration>