<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>

  </system.webServer>
  <system.serviceModel>
    <bindings xdt:Transform="Replace">
        <netTcpBinding>
          <binding name="IExternalOperationService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
            <readerQuotas maxDepth="2500000" maxStringContentLength="2500000"
              maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
          </binding>
          <binding name="IExternalOperationInfoService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
            <readerQuotas maxDepth="2500000" maxStringContentLength="2500000"
              maxArrayLength="2500000" maxBytesPerRead="2500000" maxNameTableCharCount="2500000" />
          </binding>
        </netTcpBinding>
      <webHttpBinding>
        <binding name="webBinding">
        </binding>
      </webHttpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="net.tcp://web1112.acbaca.local:8080/XBService.svc/ExternalOperationService"
     binding="netTcpBinding" bindingConfiguration="IExternalOperationService"
     contract="XBS.IXBService" name="IExternalOperationService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1112.acbaca.local:8080/XBInfoService.svc/ExternalOperationInfoService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationInfoService"
        contract="XBSInfo.IXBInfoService" name="IExternalOperationInfoService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
    </client>
    <behaviors xdt:Transform="Replace">
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>