<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="TestVersion" value="true"/>
    <add key="EnableSecurityService" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMobileLogin" />
        <binding name="BasicHttpBinding_IOnlineBankingSecurity" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="IExternalOperationService" />
        <binding name="IContractOperationService" />
        <binding name="IExternalOperationInfoService" />
        <binding name="IExternalOperationService1" />
        <binding name="NetTcpBinding_IOnlineBankingSecurity">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="webBinding" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://as1001.acbaca.local:85/AcbaOnlineSecurityService.Services.MobileLogin.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobileLogin"
        contract="MAuthorizationServiceReference.IMobileLogin" name="BasicHttpBinding_IMobileLogin" />
      <endpoint address="net.tcp://webc021.acbaca.local:8082/ContractOerationService.svc/ContractOperation"
        binding="netTcpBinding" bindingConfiguration="IContractOperationService"
        contract="ContractServiceReference.IContractOerationService"
        name="IContractOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004624.acbaca.local/ExternalBankingService/XBInfoService.svc/ExternalOperationInfoService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationInfoService"
        contract="XBSInfo.IXBInfoService" name="IExternalOperationInfoService">
        <identity>
          <userPrincipalName value="Diana.Martirosyan@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004624.acbaca.local/ExternalBankingService/XBService.svc/ExternalOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService1"
        contract="XBS.IXBService" name="IExternalOperationService">
        <identity>
          <userPrincipalName value="Diana.Martirosyan@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/ExternalBankingSecurityService/Services/OnlineBankingSecurity.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineBankingSecurity"
        contract="OnlineBankingSecServRef.IOnlineBankingSecurity" name="BasicHttpBinding_IOnlineBankingSecurity" />
      <endpoint address="net.tcp://ws0007907.acbaca.local/ExternalBankingSecurityService/Services/OnlineBankingSecurity.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOnlineBankingSecurity"
        contract="OnlineBankingSecServRef.IOnlineBankingSecurity" name="NetTcpBinding_IOnlineBankingSecurity">
        <identity>
          <userPrincipalName value="Vahagn.Danielyan@acbaca.local" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="ExternalBankingRESTService.XBRESTService">
        <endpoint behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webBinding" name="webHttpBinding" contract="ExternalBankingRESTService.IXBRESTService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
